/* Estilos para el enlace activo "Login" */
.nav-link.active {
    color: #FF3636;
    border-radius: 39px;
    background: #FFF;
    box-shadow: 0px 0px 9.20833px 0px rgba(119, 115, 115, 0.08), 0px 0px 19.06667px 0px rgba(119, 115, 115, 0.06), 0px 0px 38.025px 0px rgba(119, 115, 115, 0.05), 0px 0px 74.53333px 0px rgba(119, 115, 115, 0.04), 0px 0px 137.04167px 0px rgba(119, 115, 115, 0.03), 0px 0px 234px 0px rgba(119, 115, 115, 0.02);
}

/* Estilos para el enlace activo "Register" */
.nav-link.active {
    color: #FF3636;
    border-radius: 39px;
    background: #FFF;
    box-shadow: 0px 0px 9.20833px 0px rgba(119, 115, 115, 0.08), 0px 0px 19.06667px 0px rgba(119, 115, 115, 0.06), 0px 0px 38.025px 0px rgba(119, 115, 115, 0.05), 0px 0px 74.53333px 0px rgba(119, 115, 115, 0.04), 0px 0px 137.04167px 0px rgba(119, 115, 115, 0.03), 0px 0px 234px 0px rgba(119, 115, 115, 0.02);
}


